{
    "openapi": "3.0.1",
    "info": {
        "title": "UniFlow Academic Service API",
        "description": "RESTful API for managing academic data including students, periods, and subjects.\nThis is the core microservice that handles academic entities.",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://uniflowapi.azure-api.net/academic/v1"
        }
    ],
    "paths": {
        "/students": {
            "get": {
                "summary": "/students - GET",
                "description": "Get current authenticated student profile",
                "operationId": "68bc55f7c840211bc0f436df",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token from OAuth provider",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Student"
                                },
                                "example": {
                                    "id": "550e8400-e29b-41d4-a716-446655440000",
                                    "name": "Juan Pérez Rodríguez",
                                    "email": "juan.perez@estudiantes.tec.ac.cr",
                                    "provider": "google",
                                    "providerId": "google_123456789",
                                    "studentId": "2021123456",
                                    "avatar": "https://lh3.googleusercontent.com/a/ACg8ocJxyz123...",
                                    "createdAt": "2025-01-15T10:30:00.0000000+00:00",
                                    "updatedAt": "2025-09-06T14:45:00.0000000+00:00"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing token"
                    }
                }
            },
            "put": {
                "summary": "/students - PUT",
                "description": "Update student profile information",
                "operationId": "68bc55f7c840211bc0f436e0",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {}
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid data format"
                    },
                    "409": {
                        "description": "Conflict - Student ID already exists"
                    }
                }
            },
            "patch": {
                "summary": "/students - PATCH",
                "description": "Complete student profile by setting student ID",
                "operationId": "68bc55f7c840211bc0f436e1",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {}
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid student ID format"
                    }
                }
            }
        },
        "/students/validate-student-id": {
            "post": {
                "summary": "/students/validate-student-id - POST",
                "description": "Validate if student ID is available and correct format",
                "operationId": "68bc55f7c840211bc0f436e2",
                "requestBody": {
                    "content": {
                        "application/json": {}
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Validate_student_ID"
                                },
                                "example": {
                                    "isValid": true,
                                    "isAvailable": true,
                                    "message": "Student ID is valid and available"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/periods": {
            "get": {
                "summary": "/periods - GET",
                "description": "Get all academic periods for the authenticated user",
                "operationId": "68bc55f7c840211bc0f436e3",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "schema": {
                            "enum": [
                                1
                            ],
                            "type": "int",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page",
                        "schema": {
                            "enum": [
                                10
                            ],
                            "type": "int",
                            "default": 10
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by period type: first-semester, second-semester, summer, special",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Filter by year",
                        "schema": {
                            "type": "int"
                        }
                    },
                    {
                        "name": "isActive",
                        "in": "query",
                        "description": "Filter by active status",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Periods_With_Pagination"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "period-2025-2",
                                            "name": "IV Semestre",
                                            "type": "second-semester",
                                            "year": 2025,
                                            "startDate": "2025-08-04T00:00:00.0000000+00:00",
                                            "endDate": "2025-12-05T23:59:59.0000000+00:00",
                                            "studentId": "550e8400-e29b-41d4-a716-446655440000",
                                            "isActive": true,
                                            "createdAt": "2025-08-04T00:00:00.0000000+00:00",
                                            "updatedAt": "2025-08-04T00:00:00.0000000+00:00"
                                        },
                                        {
                                            "id": "period-2025-1",
                                            "name": "III Semestre",
                                            "type": "first-semester",
                                            "year": 2025,
                                            "startDate": "2025-02-03T00:00:00.0000000+00:00",
                                            "endDate": "2025-06-20T23:59:59.0000000+00:00",
                                            "studentId": "550e8400-e29b-41d4-a716-446655440000",
                                            "isActive": false,
                                            "createdAt": "2025-01-20T08:00:00.0000000+00:00",
                                            "updatedAt": "2025-02-01T09:15:00.0000000+00:00"
                                        },
                                        {
                                            "id": "period-2024-verano",
                                            "name": "Verano 2024",
                                            "type": "second-semester",
                                            "year": 2024,
                                            "startDate": "2024-12-15T00:00:00.0000000+00:00",
                                            "endDate": "2025-01-15T23:59:59.0000000+00:00",
                                            "studentId": "550e8400-e29b-41d4-a716-446655440000",
                                            "isActive": false,
                                            "createdAt": "2024-12-15T00:00:00.0000000+00:00",
                                            "updatedAt": "2024-12-15T00:00:00.0000000+00:00"
                                        },
                                        {
                                            "id": "period-2024-2",
                                            "name": "II Semestre",
                                            "type": "second-semester",
                                            "year": 2024,
                                            "startDate": "2024-07-15T00:00:00.0000000+00:00",
                                            "endDate": "2024-11-30T23:59:59.0000000+00:00",
                                            "studentId": "550e8400-e29b-41d4-a716-446655440000",
                                            "isActive": false,
                                            "createdAt": "2024-06-10T10:00:00.0000000+00:00",
                                            "updatedAt": "2024-07-01T12:00:00.0000000+00:00"
                                        }
                                    ],
                                    "pagination": {
                                        "page": 1,
                                        "limit": 10,
                                        "total": 4,
                                        "totalPages": 1,
                                        "hasNext": false,
                                        "hasPrevious": false
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "/periods - POST",
                "description": "Create a new academic period",
                "operationId": "68bc55f7c840211bc0f436e4",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {}
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Create_period_response"
                                },
                                "example": {
                                    "id": "period-2025-2",
                                    "name": "II Semestre",
                                    "type": "second-semester",
                                    "year": 2025,
                                    "startDate": "2025-07-14T00:00:00.0000000+00:00",
                                    "endDate": "2025-11-28T23:59:59.0000000+00:00",
                                    "studentId": "550e8400-e29b-41d4-a716-446655440000",
                                    "isActive": false,
                                    "createdAt": "2025-09-06T15:30:00.0000000+00:00",
                                    "updatedAt": "2025-09-06T15:30:00.0000000+00:00"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid period data"
                    }
                }
            }
        },
        "/periods/current": {
            "get": {
                "summary": "/periods/current - GET",
                "description": "Get the current active period for the user",
                "operationId": "68bc55f7c840211bc0f436e5",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/One_Current_Period_Active"
                                },
                                "example": {
                                    "id": "period-2025-1",
                                    "name": "I Semestre",
                                    "type": "first-semester",
                                    "year": 2025,
                                    "startDate": "2025-02-03T00:00:00.0000000+00:00",
                                    "endDate": "2025-06-20T23:59:59.0000000+00:00",
                                    "isActive": true
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No active period found"
                    }
                }
            }
        },
        "/periods/{periodId}": {
            "get": {
                "summary": "/periods/{periodId} - GET",
                "description": "Get specific period details",
                "operationId": "68bc55f7c840211bc0f436e6",
                "parameters": [
                    {
                        "name": "periodId",
                        "in": "path",
                        "description": "Unique period identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Period_By_Id"
                                },
                                "example": {
                                    "id": "period-2025-2",
                                    "name": "IV Semestre",
                                    "type": "second-semester",
                                    "year": 2025,
                                    "startDate": "2025-08-04T00:00:00.0000000+00:00",
                                    "endDate": "2025-12-05T23:59:59.0000000+00:00",
                                    "studentId": "550e8400-e29b-41d4-a716-446655440000",
                                    "isActive": true,
                                    "createdAt": "2025-08-04T00:00:00.0000000+00:00",
                                    "updatedAt": "2025-08-04T00:00:00.0000000+00:00"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Period not found"
                    }
                }
            },
            "put": {
                "summary": "/periods/{periodId} - PUT",
                "description": "Update period information",
                "operationId": "68bc55f7c840211bc0f436e7",
                "parameters": [
                    {
                        "name": "periodId",
                        "in": "path",
                        "description": "Unique period identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {}
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Putted_Period"
                                },
                                "example": {
                                    "id": "period-2025-1",
                                    "name": "I Semestre",
                                    "type": "first-semester",
                                    "year": 2025,
                                    "startDate": "2025-02-03T00:00:00.0000000+00:00",
                                    "endDate": "2025-06-20T23:59:59.0000000+00:00",
                                    "studentId": "550e8400-e29b-41d4-a716-446655440000",
                                    "isActive": true,
                                    "createdAt": "2025-01-20T08:00:00.0000000+00:00",
                                    "updatedAt": "2025-02-01T09:15:00.0000000+00:00"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "/periods/{periodId} - DELETE",
                "description": "Delete academic period",
                "operationId": "68bc55f7c840211bc0f436e8",
                "parameters": [
                    {
                        "name": "periodId",
                        "in": "path",
                        "description": "Unique period identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Period deleted successfully"
                    },
                    "409": {
                        "description": "Cannot delete period with associated subjects"
                    }
                }
            }
        },
        "/periods/{periodId}/activate": {
            "patch": {
                "summary": "/periods/{periodId}/activate - PATCH",
                "description": "Activate this period (deactivates others)",
                "operationId": "68bc55f7c840211bc0f436e9",
                "parameters": [
                    {
                        "name": "periodId",
                        "in": "path",
                        "description": "Unique period identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/periods/{periodId}/subjects": {
            "get": {
                "summary": "/periods/{periodId}/subjects - GET",
                "description": "Get all subjects for this period",
                "operationId": "68bc55f7c840211bc0f436ea",
                "parameters": [
                    {
                        "name": "periodId",
                        "in": "path",
                        "description": "Unique period identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subjects_by_period"
                                },
                                "example": {
                                    "subjects": [
                                        {
                                            "id": "subject-ic-6821",
                                            "name": "Diseño de Software",
                                            "code": "IC-6821",
                                            "professor": "Marcos Rodríguez",
                                            "credits": 4
                                        },
                                        {
                                            "id": "subject-ic-4302",
                                            "name": "Bases de Datos II",
                                            "code": "IC-4302",
                                            "professor": "Leo Víquez",
                                            "credits": 3
                                        },
                                        {
                                            "id": "subject-ic-4700",
                                            "name": "Lenguajes de Programación",
                                            "code": "IC-4700",
                                            "professor": "Oscar Víquez",
                                            "credits": 4
                                        },
                                        {
                                            "id": "subject-ma-2404",
                                            "name": "Probabilidades",
                                            "code": "MA-2404",
                                            "professor": "Ernesto Carrera",
                                            "credits": 4
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/subjects": {
            "get": {
                "summary": "/subjects - GET",
                "description": "Get all subjects for the authenticated user",
                "operationId": "68bc55f7c840211bc0f436eb",
                "parameters": [
                    {
                        "name": "periodId",
                        "in": "query",
                        "description": "Filter by period ID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "professor",
                        "in": "query",
                        "description": "Filter by professor name",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "credits",
                        "in": "query",
                        "description": "Filter by credit count",
                        "schema": {
                            "type": "int"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in name and code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User_subjects"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "subject-ic-6821",
                                            "name": "Diseño de Software",
                                            "code": "IC-6821",
                                            "professor": "Marcos Rodríguez",
                                            "credits": 3,
                                            "color": "#3b82f6",
                                            "periodId": "period-2025-1",
                                            "description": "Principios y patrones de diseño de software, arquitecturas y metodologías modernas.",
                                            "schedule": [
                                                "Lunes 8:00-9:50",
                                                "Miércoles 8:00-9:50"
                                            ],
                                            "createdAt": "2025-02-05T09:00:00.0000000+00:00",
                                            "updatedAt": "2025-02-05T09:00:00.0000000+00:00"
                                        },
                                        {
                                            "id": "subject-ic-4302",
                                            "name": "Bases de Datos II",
                                            "code": "IC-4302",
                                            "professor": "Ana García",
                                            "credits": 4,
                                            "color": "#10b981",
                                            "periodId": "period-2025-1",
                                            "description": "Diseño avanzado de bases de datos, optimización y administración.",
                                            "schedule": [
                                                "Martes 14:00-15:50",
                                                "Jueves 14:00-15:50"
                                            ],
                                            "createdAt": "2025-02-05T10:30:00.0000000+00:00",
                                            "updatedAt": "2025-02-05T10:30:00.0000000+00:00"
                                        },
                                        {
                                            "id": "subject-ic-6200",
                                            "name": "Inteligencia Artificial",
                                            "code": "IC-6200",
                                            "professor": "Carlos López",
                                            "credits": 3,
                                            "color": "#8b5cf6",
                                            "periodId": "period-2025-1",
                                            "description": "Fundamentos de IA, machine learning y aplicaciones prácticas.",
                                            "schedule": [
                                                "Viernes 8:00-10:50"
                                            ],
                                            "createdAt": "2025-02-05T11:00:00.0000000+00:00",
                                            "updatedAt": "2025-02-05T11:00:00.0000000+00:00"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "/subjects - POST",
                "description": "Create a new subject",
                "operationId": "68bc55f7c840211bc0f436ec",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {}
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Create_subject_response"
                                },
                                "example": {
                                    "id": "subject-ma-1102",
                                    "name": "Cálculo Diferencial e Integral",
                                    "code": "MA-1102",
                                    "professor": "María Fernández",
                                    "credits": 4,
                                    "color": "#f59e0b",
                                    "periodId": "period-2025-1",
                                    "description": "Fundamentos del cálculo diferencial e integral.",
                                    "schedule": [
                                        "Lunes 10:00-11:50",
                                        "Miércoles 10:00-11:50",
                                        "Viernes 14:00-15:50"
                                    ],
                                    "createdAt": "2025-09-06T16:00:00.0000000+00:00",
                                    "updatedAt": "2025-09-06T16:00:00.0000000+00:00"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid subject data"
                    },
                    "409": {
                        "description": "Conflict - Subject code already exists in period"
                    }
                }
            }
        },
        "/subjects/{subjectId}": {
            "get": {
                "summary": "/subjects/{subjectId} - GET",
                "description": "Get specific subject details",
                "operationId": "68bc55f7c840211bc0f436ed",
                "parameters": [
                    {
                        "name": "subjectId",
                        "in": "path",
                        "description": "Unique subject identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subject_By_Id"
                                },
                                "example": {
                                    "id": "subject-1234",
                                    "name": "Diseño de Software",
                                    "code": "IC-5401",
                                    "credits": 4,
                                    "periodId": "period-2025-1",
                                    "createdAt": "2025-01-22T08:00:00.0000000+00:00",
                                    "updatedAt": "2025-01-22T08:00:00.0000000+00:00"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Subject not found"
                    }
                }
            },
            "put": {
                "summary": "/subjects/{subjectId} - PUT",
                "description": "Update subject information",
                "operationId": "68bc55f7c840211bc0f436ee",
                "parameters": [
                    {
                        "name": "subjectId",
                        "in": "path",
                        "description": "Unique subject identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {}
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            },
            "delete": {
                "summary": "/subjects/{subjectId} - DELETE",
                "description": "Delete subject",
                "operationId": "68bc55f7c840211bc0f436ef",
                "parameters": [
                    {
                        "name": "subjectId",
                        "in": "path",
                        "description": "Unique subject identifier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Subject deleted successfully"
                    },
                    "409": {
                        "description": "Cannot delete subject with associated tasks"
                    }
                }
            }
        },
        "/subjects/validate-code": {
            "post": {
                "summary": "/subjects/validate-code - POST",
                "description": "Validate if subject code is available in period",
                "operationId": "68bc55f7c840211bc0f436f0",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {}
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Validate_subject_code"
                                },
                                "example": {
                                    "isValid": true,
                                    "isAvailable": false,
                                    "message": "Subject code format is valid but already exists in this period"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/stats/periods": {
            "get": {
                "summary": "/stats/periods - GET",
                "description": "Get period statistics for the user",
                "operationId": "68bc55f7c840211bc0f436f1",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Period_statistics"
                                },
                                "example": {
                                    "total": 5,
                                    "active": 1,
                                    "current": 1,
                                    "upcoming": 1,
                                    "finished": 3,
                                    "byType": {
                                        "first-semester": 2,
                                        "second-semester": 2,
                                        "summer": 1,
                                        "special": 0
                                    },
                                    "averageDuration": 18
                                }
                            }
                        }
                    }
                }
            }
        },
        "/stats/subjects": {
            "get": {
                "summary": "/stats/subjects - GET",
                "description": "Get subject statistics for the user",
                "operationId": "68bc55f7c840211bc0f436f2",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Subject_statistics"
                                },
                                "example": {
                                    "total": 12,
                                    "totalCredits": 42,
                                    "averageCredits": 3.5,
                                    "byProfessor": {
                                        "Marcos Rodríguez": 2,
                                        "Ana García": 2,
                                        "Carlos López": 1,
                                        "María Fernández": 3
                                    },
                                    "byCredits": {
                                        "2": 2,
                                        "3": 6,
                                        "4": 4
                                    },
                                    "byPeriod": {
                                        "period-2025-1": 3,
                                        "period-2024-2": 4,
                                        "period-2024-1": 5
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "summary": "/health - GET",
                "description": "API health check endpoint",
                "operationId": "68bc55f7c840211bc0f436f3",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Health_check"
                                },
                                "example": {
                                    "status": "healthy",
                                    "timestamp": "2025-09-06T16:30:00.0000000+00:00",
                                    "version": "1.0.0"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/access-token": {
            "post": {
                "summary": "Access Token",
                "operationId": "access-token",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Student": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "provider": {
                        "type": "string"
                    },
                    "providerId": {
                        "type": "string"
                    },
                    "studentId": {
                        "type": "string"
                    },
                    "avatar": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                }
            },
            "Periods_With_Pagination": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "required": [
                                "id",
                                "name",
                                "type",
                                "year",
                                "startDate",
                                "endDate",
                                "studentId",
                                "isActive",
                                "createdAt",
                                "updatedAt"
                            ],
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "year": {
                                    "type": "integer"
                                },
                                "startDate": {
                                    "type": "string"
                                },
                                "endDate": {
                                    "type": "string"
                                },
                                "studentId": {
                                    "type": "string"
                                },
                                "isActive": {
                                    "type": "boolean"
                                },
                                "createdAt": {
                                    "type": "string"
                                },
                                "updatedAt": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "pagination": {
                        "type": "object",
                        "properties": {
                            "page": {
                                "type": "integer"
                            },
                            "limit": {
                                "type": "integer"
                            },
                            "total": {
                                "type": "integer"
                            },
                            "totalPages": {
                                "type": "integer"
                            },
                            "hasNext": {
                                "type": "boolean"
                            },
                            "hasPrevious": {
                                "type": "boolean"
                            }
                        }
                    }
                },
                "x-apim-schema-name": "Periods With Pagination"
            },
            "One_Current_Period_Active": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "year": {
                        "type": "integer"
                    },
                    "startDate": {
                        "type": "string"
                    },
                    "endDate": {
                        "type": "string"
                    },
                    "isActive": {
                        "type": "boolean"
                    }
                },
                "x-apim-schema-name": "One Current Period Active"
            },
            "Create_period_response": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "year": {
                        "type": "integer"
                    },
                    "startDate": {
                        "type": "string"
                    },
                    "endDate": {
                        "type": "string"
                    },
                    "studentId": {
                        "type": "string"
                    },
                    "isActive": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "x-apim-schema-name": "Create period response"
            },
            "User_subjects": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "required": [
                                "id",
                                "name",
                                "code",
                                "professor",
                                "credits",
                                "color",
                                "periodId",
                                "description",
                                "schedule",
                                "createdAt",
                                "updatedAt"
                            ],
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "professor": {
                                    "type": "string"
                                },
                                "credits": {
                                    "type": "integer"
                                },
                                "color": {
                                    "type": "string"
                                },
                                "periodId": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "schedule": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "createdAt": {
                                    "type": "string"
                                },
                                "updatedAt": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-apim-schema-name": "User subjects"
            },
            "Create_subject_response": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    },
                    "professor": {
                        "type": "string"
                    },
                    "credits": {
                        "type": "integer"
                    },
                    "color": {
                        "type": "string"
                    },
                    "periodId": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "schedule": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "x-apim-schema-name": "Create subject response"
            },
            "Subjects_by_period": {
                "type": "object",
                "properties": {
                    "subjects": {
                        "type": "array",
                        "items": {
                            "required": [
                                "id",
                                "name",
                                "code",
                                "professor",
                                "credits",
                                "color"
                            ],
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "code": {
                                    "type": "string"
                                },
                                "professor": {
                                    "type": "string"
                                },
                                "credits": {
                                    "type": "integer"
                                },
                                "color": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-apim-schema-name": "Subjects by period"
            },
            "Validate_student_ID": {
                "type": "object",
                "properties": {
                    "isValid": {
                        "type": "boolean"
                    },
                    "isAvailable": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "x-apim-schema-name": "Validate student ID"
            },
            "Validate_subject_code": {
                "type": "object",
                "properties": {
                    "isValid": {
                        "type": "boolean"
                    },
                    "isAvailable": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "x-apim-schema-name": "Validate subject code"
            },
            "Period_statistics": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer"
                    },
                    "active": {
                        "type": "integer"
                    },
                    "current": {
                        "type": "integer"
                    },
                    "upcoming": {
                        "type": "integer"
                    },
                    "finished": {
                        "type": "integer"
                    },
                    "byType": {
                        "type": "object",
                        "properties": {
                            "first-semester": {
                                "type": "integer"
                            },
                            "second-semester": {
                                "type": "integer"
                            },
                            "summer": {
                                "type": "integer"
                            },
                            "special": {
                                "type": "integer"
                            }
                        }
                    },
                    "averageDuration": {
                        "type": "integer"
                    }
                },
                "x-apim-schema-name": "Period statistics"
            },
            "Subject_statistics": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer"
                    },
                    "totalCredits": {
                        "type": "integer"
                    },
                    "averageCredits": {
                        "type": "number"
                    },
                    "byProfessor": {
                        "type": "object",
                        "properties": {
                            "Marcos Rodríguez": {
                                "type": "integer"
                            },
                            "Ana García": {
                                "type": "integer"
                            },
                            "Carlos López": {
                                "type": "integer"
                            },
                            "María Fernández": {
                                "type": "integer"
                            }
                        }
                    },
                    "byCredits": {
                        "type": "object",
                        "properties": {
                            "2": {
                                "type": "integer"
                            },
                            "3": {
                                "type": "integer"
                            },
                            "4": {
                                "type": "integer"
                            }
                        }
                    },
                    "byPeriod": {
                        "type": "object",
                        "properties": {
                            "period-2025-1": {
                                "type": "integer"
                            },
                            "period-2024-2": {
                                "type": "integer"
                            },
                            "period-2024-1": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "x-apim-schema-name": "Subject statistics"
            },
            "Health_check": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string"
                    },
                    "version": {
                        "type": "string"
                    }
                },
                "x-apim-schema-name": "Health check"
            },
            "Period_By_Id": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "year": {
                        "type": "integer"
                    },
                    "startDate": {
                        "type": "string"
                    },
                    "endDate": {
                        "type": "string"
                    },
                    "studentId": {
                        "type": "string"
                    },
                    "isActive": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "x-apim-schema-name": "Period By Id"
            },
            "Putted_Period": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "year": {
                        "type": "integer"
                    },
                    "startDate": {
                        "type": "string"
                    },
                    "endDate": {
                        "type": "string"
                    },
                    "studentId": {
                        "type": "string"
                    },
                    "isActive": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "x-apim-schema-name": "Putted Period"
            },
            "Subject_By_Id": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    },
                    "credits": {
                        "type": "integer"
                    },
                    "periodId": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "x-apim-schema-name": "Subject By Id"
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}